<%- include('bootheader') -%>


    <div class="jumbotron">
        <h1>Welcome to employee finder</h1>
        <p>On our app employees can post information about themselves. Then employeers<br>
      can search through the list of potential empoyees to try to find a match  </p>
    </div>

  <h1> Review's </h1>



    <br>
    <br>

    <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Sarah's review
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is Sarah's review.</strong>  I am the CEO of a fin tech start up. Through this site I was able to find three employees who
            had backgrounds in finance and computer science. It has been a great match so far. 5/5
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Jason's review
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is Jason's review. </strong>  I am an employee an accounting start up. This site allowed me to
            find out information about my future company and employeer before committing to a job. 5/5
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Max's review
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is Max's review.</strong>  I have found very high quality and realiable employees from this site. 5/5
      </div>
    </div>
  </div>
</div>

<br>
<br>

<h1> Here is some information about some of our most popular employee disciplins<h1/>

    <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
  <a class="navbar-brand" href="#">Employees</a>
  <nav class="nav nav-pills flex-column">
    <a class="nav-link" href="#Computer scientists">Computer scientists</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ms-3 my-1" href="#Mobile app developers">Mobile app developers</a>
      <a class="nav-link ms-3 my-1" href="#Artifical Intelligence specalists">Artifical Intelligence specalists</a>
    </nav>
    <a class="nav-link" href="#Electrical Engenieers">Electrical Engenieers</a>
    <a class="nav-link" href="#Accountants">Accountants</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ms-3 my-1" href="#Corportate Accountants">Corportate Accountants</a>
      <a class="nav-link ms-3 my-1" href="#Tax Accountants">Tax Accountants</a>
    </nav>
  </nav>
</nav>

<div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
  <h4 id="Computer scientists">Computer scientists</h4>
  <p>20% percent of employees on our app are computer scientists. <br>
  Computer scientist most work in tech companies. <br>
  They can work in back end, front end, or full stack engenieer</p>
  <h5 id="Mobile app developers">Mobile app developers</h5>
  <p>Half of the computer scientist on our app are mobile app developers <br>
   Mobile app developer can allow companies exand their digital horizons. </p>
  <h5 id="Artifical Intelligence specalists">Artifical Intelligence specalists</h5>
  <p> 30% of computer scientist on our app are AI specialists. <br>
  AI specailsts can help with marketing by predicting user behavior.</p>
  <h4 id="Electrical Engenieers">Electrical Engenieers</h4>
  <p>10% of employees on our app are electrical engenieers. <br>
  They are mostly hired by engenieering firms</p>
  <h4 id="Accountants">Accountants</h4>
  <p>15% of employees on our app are accountants. <br>
  Accounts are nessicary to keep track on the finacnces of all companies.</p>
  <h5 id="Corportate Accountants">Corportate Accountants</h5>
  <p>Half of all accounts on our app are corporate accounts<br>
  They are hired by a wide range of corporations.</p>
  <h5 id="Tax Accountants">Tax Accountants</h5>
  <p>Half of all accounts on our app are tax accounts<br>
  They are hired mostly by accounting firms.</p>
</div>

<h1> Informatio about the companies our exmployers are most commonly from <h1>
<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Facebook</a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">JP Morgan</button>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Facebook and JP Morgan</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
      Facebook mostly highers software engenieers. <br>
      Facebook was founded by Mark Zuckerberg and is a socail networking platform.<br>
      It is very popular with people between the ages 25 and 40.
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
      JP Morgan is an investment banking firm.<br>
      They mostly hired accounts and investment bankers<br>
      JP Morgan has office located all around the world.
      </div>
    </div>
  </div>
</div>

<%- include('bootfooter') -%>
