    <div class="jumbotron">
        <h1>Welcome to Employee Finder</h1>
        <p>On our app employees can post information about themselves. Then employeers<br>
      can search through the list of potential empoyees to try to find a match  </p>
    </div>

     <font size="+3"><u>Reviews</u> </font>

    <br>
    <br>

    <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         <font size="+1">Sarah's review </font>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is Sarah's review:</strong>  I am the CEO of a fin tech start up. Through this site I was able to find three employees who
            had backgrounds in finance and computer science. It has been a great match so far. 5/5
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           <font size="+1">Jason's review</font>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is Jason's review:</strong> I am an employee an accounting start up. This site allowed me to
            find out information about my future company and employeer before committing to a job. 5/5
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         <font size="+1"> Max's review</font>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is Max's review:</strong>  I have found very high quality and realiable employees from this site. 5/5
      </div>
    </div>
  </div>
</div>

<br>
<br>

<h1> Here is some information about some of our most popular employee disciplines: <h1/>

    <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
   <font size="+3"><u>Employees</u> </font><br>
  <nav class="nav nav-pills flex-column">
    <a class="nav-link" href="#Computer scientists">Computer scientists</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ms-3 my-1" href="#Mobile app developers">Mobile app developers</a>
      <a class="nav-link ms-3 my-1" href="#Artifical Intelligence specalists">Artifical Intelligence specalists</a>
    </nav>
    <a class="nav-link" href="#Electrical Engineers">Electrical Engineers</a>
    <a class="nav-link" href="#Accountants">Accountants</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ms-3 my-1" href="#Corporate Accountants">Corporate Accountants</a>
      <a class="nav-link ms-3 my-1" href="#Tax Accountants">Tax Accountants</a>
    </nav>
  </nav>
</nav>

<div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
  <font size="+3" id="Computer scientists"><u> Computer scientists:</u></font> <br>
  20% percent of employees on our app are computer scientists. <br>
  Computer scientist most work in tech companies. <br>
  They can work in back end, front end, or full stack engenieer<br><br>
  <font size="+3" id="Mobile app developers"><u> Mobile app developers:</u></font> <br>
   Half of the computer scientist on our app are mobile app developers
   Mobile app developer can allow companies exand their digital horizons. <br><br>
  <font size="+3" id="Artifical Intelligence specalists"><u> Artifical Intelligence specalists:</u></font> <br>
  30% of computer scientist on our app are AI specialists.
  AI specailsts can help with marketing by predicting user behavior.<br><br>
  <font size="+3" id="Electrical Engineers"><u> Electrical Engineers:</u></font> <br>
  10% of employees on our app are electrical engenieers.
  They are mostly hired by engenieering firms<br><br>
  <font size="+3" id="Accountants"><u> Accountants:</u></font> <br>
  15% of employees on our app are accountants.
  Accounts are nessicary to keep track on the finacnces of all companies.<br><br>
  <font size="+3" id="Corportate Accountants"><u> Corportate Accountants:</u></font> <br>
  Half of all accounts on our app are corporate accounts<br>
  They are hired by a wide range of corporations.<br> <br>
  <font size="+3" id="Tax Accountants"><u> Tax Accountants</u></font> <br>
  Half of all accounts on our app are tax accounts
  They are hired mostly by accounting firms.
</div>

<h1> Information about the companies our employers are most commonly from: <h1><br>
<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Facebook</a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">JP Morgan</button>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Facebook and JP Morgan</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
      Facebook mostly highers software engenieers. <br>
      Facebook was founded by Mark Zuckerberg and is a socail networking platform.<br>
      It is very popular with people between the ages 25 and 40.
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
      JP Morgan is an investment banking firm.<br>
      They mostly hired accounts and investment bankers<br>
      JP Morgan has office located all around the world.
      </div>
    </div>
  </div>
</div>
<%- include('bootheader') -%>


    <div class="jumbotron">
        <h1>Welcome to employee finder</h1>
        <p>On our app employees can post information about themselves. Then employeers<br>
      can search through the list of potential empoyees to try to find a match  </p>
    </div>

     <font size="+3"><u>Reviews</u> </font>

    <br>
    <br>

    <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         <font size="+1">Sarah's review </font>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is Sarah's review:</strong>  I am the CEO of a fin tech start up. Through this site I was able to find three employees who
            had backgrounds in finance and computer science. It has been a great match so far. 5/5
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           <font size="+1">Jason's review</font>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is Jason's review:</strong> I am an employee an accounting start up. This site allowed me to
            find out information about my future company and employeer before committing to a job. 5/5
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         <font size="+1"> Max's review</font>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is Max's review:</strong>  I have found very high quality and realiable employees from this site. 5/5
      </div>
    </div>
  </div>
</div>

<br>
<br>

<h1> Here is some information about some of our most popular employee disciplines: <h1/>

    <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
   <font size="+3"><u>Employees</u> </font><br>
  <nav class="nav nav-pills flex-column">
    <a class="nav-link" href="#Computer scientists">Computer scientists</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ms-3 my-1" href="#Mobile app developers">Mobile app developers</a>
      <a class="nav-link ms-3 my-1" href="#Artifical Intelligence specalists">Artifical Intelligence specalists</a>
    </nav>
    <a class="nav-link" href="#Electrical Engineers">Electrical Engineers</a>
    <a class="nav-link" href="#Accountants">Accountants</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ms-3 my-1" href="#Corporate Accountants">Corporate Accountants</a>
      <a class="nav-link ms-3 my-1" href="#Tax Accountants">Tax Accountants</a>
    </nav>
  </nav>
</nav>

<div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
  <font size="+3" id="Computer scientists"><u> Computer scientists:</u></font> <br>
  20% percent of employees on our app are computer scientists. <br>
  Computer scientist most work in tech companies. <br>
  They can work in back end, front end, or full stack engenieer<br><br>
  <font size="+3" id="Mobile app developers"><u> Mobile app developers:</u></font> <br>
   Half of the computer scientist on our app are mobile app developers
   Mobile app developer can allow companies exand their digital horizons. <br><br>
  <font size="+3" id="Artifical Intelligence specalists"><u> Artifical Intelligence specalists:</u></font> <br>
  30% of computer scientist on our app are AI specialists.
  AI specailsts can help with marketing by predicting user behavior.<br><br>
  <font size="+3" id="Electrical Engineers"><u> Electrical Engineers:</u></font> <br>
  10% of employees on our app are electrical engenieers.
  They are mostly hired by engenieering firms<br><br>
  <font size="+3" id="Accountants"><u> Accountants:</u></font> <br>
  15% of employees on our app are accountants.
  Accounts are nessicary to keep track on the finacnces of all companies.<br><br>
  <font size="+3" id="Corportate Accountants"><u> Corportate Accountants:</u></font> <br>
  Half of all accounts on our app are corporate accounts<br>
  They are hired by a wide range of corporations.<br> <br>
  <font size="+3" id="Tax Accountants"><u> Tax Accountants</u></font> <br>
  Half of all accounts on our app are tax accounts
  They are hired mostly by accounting firms.
</div>

<h1> Information about the companies our employers are most commonly from: <h1><br>
<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Facebook</a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">JP Morgan</button>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Facebook and JP Morgan</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
      Facebook mostly highers software engenieers. <br>
      Facebook was founded by Mark Zuckerberg and is a socail networking platform.<br>
      It is very popular with people between the ages 25 and 40.
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
      JP Morgan is an investment banking firm.<br>
      They mostly hired accounts and investment bankers<br>
      JP Morgan has office located all around the world.
      </div>
    </div>
  </div>
</div>

<%- include('bootfooter') -%>
