<%- include('bootheader') -%>

<div class="jumbotron">
    <h1>Just Some Cute Dog Photos</h1>

</div> <br>
<img src="<%=locals.dogimage%>" alt="Random Dog Photo" width="50%">
<br>



<%- include('bootfooter') -%>
