<%- include('bootheader') -%>

<div class="bg-light" >
    <div class="jumbotron"> <br>
        <h1> </h1>
        <h3> Employee Finder App </h3><br>

    </div>
</div>

<% if (loggedIn) {%>
   <h5>
      Welcome <%=user.googlename %>!
   </h5>
   Please add employer or employee info or <a href="/employersNew">See Employers Info</a>
   / <a href="/employeesNew">See Employees Info</a>
   <form method="post" action="/employeeEmployeer" class="bg-info">
    Would you like to sign up as an employeer or employee?<br>
          Employer <input type="radio" name="isEmployee" value="false"><br>
          Employee <input type="radio" name="isEmployee" value="true"><br>
            <input type="submit" value="Submit">
  </form>

  <% } %>
<br>
<br>
<br>

  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Welcome</h5>
    <h6 class="card-subtitle mb-2 text-muted">to employee finder</h6>
    <p class="card-text">We help employees and employers find each other</p>
    <a href="/about" class="card-link">More information about us</a>
  </div>
</div>
<br>
<br>
<br>

<h1>Most popular employers</h1>
<p> Here is a list of our most common employers. <h1/>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Most common employers
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="https://www.tesla.com/">Tesla</a></li>
    <li><a class="dropdown-item" href="https://www.jpmorgan.com/">JP Morgan</a></li>
    <li><a class="dropdown-item" href="https://www.google.com/">Google</a></li>
    <li><a class="dropdown-item" href="https://www.morganstanley.com/">Morgan Stanley</a></li>
  </ul>
</div>

<!-- <% if (loggedIn && user.isEmployee != null) { %>

   <% if (user.isEmployee) { %>
    <%= user.googlename  %> Fill out your employee information:
         <a class="nav-link" href="/employees" > Employee Info </a>
  <% }   %>

  <% if (!user.isEmployee) { %>
   <%= user.googlename  %> Fill out your employee information:
        <a class="nav-link" href="/employerRouter" > Employer Info </a>
 <% }   %> -->

<% } %>
