<%- include('bootheader') -%>

<div class="bg-light" >
    <div class="jumbotron"> <br>
        <h1> </h1>
        <h3> app routing works </h3>

    </div>
</div>

  <form method="post" action="/tester" class="bg-danger">
    <input type="submit" value="Submit">
  </form>

<% if (loggedIn) { %>
  <%= user.googlename  %> sign up as an employer or employee
  <form method="post" action="/employeeEmployeer" class="bg-info">
    Would you like to sign up as an employeer or employee?<br>
          Employer <input type="radio" name="isEmployee" value="false"><br>
          Employee <input type="radio" name="isEmployee" value="true"><br>
            <input type="submit" value="Submit">
  </form>
<% } %>
